<!--Customize this page to change the layout for the Voronoi page and include-->
<!--javascript, etc. I also want to make sure this is the default landing page.-->

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

<!--        link to the about page-->
        <a href="{{ site.url }}{{ site.baseurl }}/about" class="btn">About this project</a>

<!--      <a href="{{ site.github.repository_url }}" class="btn">Try it here!</a>-->
<!--      {% if site.github.is_project_page %}-->
<!--      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
<!--      {% endif %}-->
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">

      <!-- include the voronoi diagram -->
<!--      <svg id="voronoi-diagram" width="800" height="600"></svg>-->
      <!-- center the thing -->
      <div style="display: flex; justify-content: center; padding-bottom: 5px">
        <svg id="voronoi-diagram" width="800" height="600"></svg>
      </div>
      <script src="{{ site.baseurl }}/javascript/voronoi.js"></script>
<!--      <script src="/javascript/voronoi.js"></script>-->

<!--      <br>-->


      <!-- canvas so we can see the colors in the image -->
      <canvas id="image-canvas" style="display: none;"></canvas>


      <hr>


      <!-- upload background image (v2) -->
<!--      <label style="padding-left: 15px">-->
      <label>
        Add background image:
        <input type="file" id="upload-image" accept=".jpg, .jpeg, .png" onchange="overlayImage()">
      </label>


      <!-- checkbox to toggle the stained glass effect -->
      <label>
        <input type="checkbox" id="toggle-stained-glass" onchange="toggleStainedGlassEffect()">
        Stained Glass Effect
      </label>


      <!-- checkbox to toggle points -->
<!--      <label style="float: right; padding-right: 15px;">-->
      <label style="float: right;">
        <input type="checkbox" id="toggle-points" onchange="togglePoints()">  <!-- can add checked -->
<!--        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Show points-->
        Show points
      </label>




      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
